@model SociableWebApp.ViewModels.NewsFeedViewModel
@{

}

<div class="container card border-0 shadow rounded-3 mt-2">

    <div class="row">
        <div class="d-flex col-12 col-sm-12 col-md-5 col-lg-4 text-center justify-content-center">
            <div class="m-3">
                <h1 class="headingFeed d-flex justify-content-center">sociable</h1>
                <div class="text-center">
                    <img src="@Url.Content("https://userprofileimgs3655612.s3.ap-southeast-2.amazonaws.com/" + @Model.AppUser.AppUserID)" class="border border-3 rounded-circle rounded mx-auto d-block" style="height:250px; width:auto" alt="Image" />
                </div>
                <div class="dropdown">
                    <button class="no-button-style dropdown-toggle fs-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        @Model.AppUser.Name
                    </button>
                    <ul class="dropdown-menu white" aria-labelledby="dropdownMenuButton1">
                        <li><a class="white list-group-item border-0 fs-5" asp-controller="AppUser" asp-action="Profile">Profile</a></li>
                        <li><a class="white list-group-item border-0 fs-5" asp-controller="Newsfeed" asp-action="Logout">Logout</a></li>
                    </ul>
                </div>
                <a class="fs-5" data-bs-toggle="modal" href="#exampleModal" style="text-decoration:none; color:black;">Friend Requests (@Model.AppUser.ReceivedFriendRequests.Count)</a>


            </div>
        </div>

        <div class="d-flex flex-column col m-3 mt-4 scroll">
            <form asp-controller="NewsFeed" asp-action="NewPost" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container">

                    <div class="form-group col-12">
                        <textarea asp-for="@Model.PostContent" rows="2" placeholder="Whats on your mind..." class="form-control"></textarea>
                    </div>
                    <div class="form-group row justify-content-start mb-3 offset-lg-2 offset-md-0 offset-sm-2 offset-1">
                        <div class="col-8 col-lg-8 col-md-9 col-sm-8 p-0">
                            <label for="formFileSm" class="form-label"></label>
                            <input class="form-control form-control-sm" asp-for="@Model.MessageImageFile" id="formFileSm" type="file">
                        </div>

                        <div class="col-2 m-0 mt-3 p-0 ps-2">
                            <input type="submit" value="Post" class="btn btn-primary text-uppercase fw-bold" />
                        </div>
                    </div>
                </div>
            </form>

            @foreach (var post in @Model.Posts)
            {
                <div class="col vw-90 mb-3 rounded-corners post-area">
                    <div class="d-flex flex-row m-2">
                        <img src="@Url.Content("https://userprofileimgs3655612.s3.ap-southeast-2.amazonaws.com/" + @post.PostAuthorID)" class="img-fluid rounded-circle border border-1" alt="Image" style="width: 60px; height: 60px;" />
                        <div class="ms-4 mt-1 ">
                            <form asp-controller="AppUser" asp-action="Profile">
                                <input type="hidden" name="appUserID" value="@post.PostAuthorID" class="form-control" />
                                <input type="submit" class="no-button-style fw-bold fs-4" value="@post.PostAuthorName" />
                                <div class="fs-6 fw-lighter lh-1">
                                    @post.TimeSincePost
                                </div>
                                <div class="mt-1 fs-5">
                                    @post.PostContent
                                </div>
                                <div>
                                    @if (post.PostHasImage)
                                    {
                                        <img src="@Url.Content("https://postimages3655612.s3.ap-southeast-2.amazonaws.com/" + @post.PostID)" class=" border border-1" style="height:auto; width:100%;" alt="Image" />
                                    }
                                </div>
                                <div class="fs-6 mt-3">
                                    <a data-bs-toggle="collapse" href="#b\\@post.PostID" role="button" aria-expanded="false" aria-controls="b\@post.PostID" style="text-decoration:none">
                                        Comments(@post.Comments.Count)
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="collapse" id="b\@post.PostID">

                        @foreach (var comment in post.Comments)
                        {
                            <div class="col-10 offset-2 mt-3">
                                <div class="d-flex flex-row m-2 ms-0 ">
                                    <img src="@Url.Content("https://userprofileimgs3655612.s3.ap-southeast-2.amazonaws.com/" + @comment.CommentAuthorID)" class="img-fluid rounded-circle border border-1" alt="Image" style="width: 45px; height: 45px;" />
                                    <div class="ms-2 w-100 rounded-corners comment-area">
                                        <div class="ms-4 mt-2 mb-2">
                                            <form asp-controller="AppUser" asp-action="Profile">
                                                <div class="fw-lighter lh-1">
                                                    <input type="hidden" name="appUserID" value="@comment.CommentAuthorID" class="form-control" />
                                                    <input type="submit" class="no-button-style fw-bold" value="@comment.CommentAuthorName" />
                                                    @comment.TimeSinceComment
                                                </div>
                                                <div class="mt-2 fs-6">
                                                    @comment.CommentContent
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <form asp-controller="NewsFeed" asp-action="NewComment">
                            <div class="container">

                                <div class="form-group row justify-content-start ms-4">
                                    <div class="col-8 offset-2">
                                        <textarea id="txtarea" style="outline: none;" name="commentContent" rows="1" placeholder="Reply to @post.PostAuthorName" class="form-control"></textarea>
                                        <input type="hidden" name="postID" value="@post.PostID" class="form-control" />
                                    </div>
                                    <div class="col-2 p-0 mb-3">
                                        <input type="submit" value="Reply" class="btn btn-primary fw-bold" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title text-center " id="exampleModalLabel">Friend Requests</h5>
                @if (Model.AppUser.ReceivedFriendRequests != null)
                {
                    @if (Model.AppUser.ReceivedFriendRequests.Count == 1)
                    {
                        <p class="text-center mt-0 mb-3">You have 1 friend request</p>
                    }
                    else
                    {
                        <p class="text-center mt-0 mb-3">You have @Model.AppUser.ReceivedFriendRequests.Count friend requests</p>
                    }

                    @foreach (var friendRequest in Model.AppUser.ReceivedFriendRequests)
                    {
                        <div class="container">
                            <div class="row justify-content-between mt-2">
                                <div class=col-8>
                                    <div class="row justify-content-start">
                                        <div class="col-3 p-0">
                                            <img src="@Url.Content("https://userprofileimgs3655612.s3.ap-southeast-2.amazonaws.com/" + @friendRequest.AppUserID)" alt="Image" style="width: 60px; height: 60px;" />
                                        </div>
                                        <div class="col-9 p-0">
                                            <form asp-controller="AppUser" asp-action="Profile">
                                                <input type="hidden" name="appUserID" value="@friendRequest.AppUserID" class="form-control" />
                                                <input type="submit" class="no-button-style fw-bold" value="@friendRequest.Name" />
                                                <p>@friendRequest.City, @friendRequest.Country</p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 ps-4 pe-0 mt-1">
                                    <form asp-controller="AppUser" asp-action="ConfirmFriendRequest">
                                        <input type="hidden" name="senderID" value="@friendRequest.AppUserID" class="form-control" />
                                        <button type="submit" name="accept" value="true" class="btn btn-primary fw-bold">Confirm</button>
                                        <button type="submit" name="accept" value="false" class="btn-close"></button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-body">
                <h5 class="modal-title text-center" id="exampleModalLabel">Pending Requests</h5>
                @if (Model.AppUser.SentFriendRequests != null)
                {
                    @if (Model.AppUser.SentFriendRequests.Count == 1)
                    {
                        <p class="text-center mt-0 mb-3">You have 1 friend request waiting for approval</p>
                    }
                    else
                    {
                        <p class="text-center mt-0 mb-3">You have @Model.AppUser.SentFriendRequests.Count friend requests waiting for approval</p>
                    }
                    @foreach (var friendRequest in Model.AppUser.SentFriendRequests)
                    {
                        <div class="container">
                            <div class="row justify-content-between mt-2">
                                <div class=col-8>
                                    <div class="row justify-content-start">
                                        <div class="col-3 p-0">
                                            <img src="@Url.Content("https://userprofileimgs3655612.s3.ap-southeast-2.amazonaws.com/" + @friendRequest.AppUserID)" alt="Image" style="width: 60px; height: 60px;" />
                                        </div>
                                        <div class="col-9 p-0">
                                            <form asp-controller="AppUser" asp-action="Profile">
                                                <input type="hidden" name="appUserID" value="@friendRequest.AppUserID" class="form-control" />
                                                <input type="submit" class="no-button-style fw-bold" value="@friendRequest.Name" />
                                                <p>@friendRequest.City, @friendRequest.Country</p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 ps-4 pe-0 mt-1">
                                    <form asp-controller="AppUser" asp-action="RemovePendingRequest">
                                        <input type="hidden" name="receiverID" value="@friendRequest.AppUserID" class="form-control" />
                                        <button type="submit" class="btn btn-secondary fw-bold">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@*<img src="@Url.Content("https://userprofileimgs3655612.s3.ap-southeast-2.amazonaws.com/" + @appUser.AppUserID)" alt="Image" style="width: 60px; height: 60px;" />*@